In [ ]:
with open('members.txt', mode = 'r') as file:
  members = file.readlines()[1:]

In [ ]:
members

['    20364      2016-6-11    no    \n',
 '    51945      2015-4-10    yes   \n',
 '    88053      2016-2-19    yes   \n',
 '    49743      2020-4-12    yes   \n',
 '    49109      2016-4-12    no    \n',
 '    36642      2018-11-16   no    \n',
 '    21690      2016-11-19   yes   \n',
 '    43779      2020-6-9     yes   \n',
 '    42687      2017-9-12    yes   \n',
 '    32923      2020-4-25    no    \n',
 '    76363      2016-1-23    no    \n',
 '    54779      2016-6-24    no    \n',
 '    49827      2019-8-1     no    \n',
 '    21077      2016-3-25    no    \n',
 '    70880      2020-3-7     yes   \n',
 '    46937      2016-6-24    yes   \n',
 '    15432      2015-1-4     no    \n',
 '    63456      2020-2-11    no    \n',
 '    37395      2019-4-6     yes   \n',
 '    43411      2018-2-1     no    \n']

In [ ]:
#Splitting each of the data
new_list = [words for segments in members for words in segments.split()]
print(new_list)

['20364', '2016-6-11', 'no', '51945', '2015-4-10', 'yes', '88053', '2016-2-19', 'yes', '49743', '2020-4-12', 'yes', '49109', '2016-4-12', 'no', '36642', '2018-11-16', 'no', '21690', '2016-11-19', 'yes', '43779', '2020-6-9', 'yes', '42687', '2017-9-12', 'yes', '32923', '2020-4-25', 'no', '76363', '2016-1-23', 'no', '54779', '2016-6-24', 'no', '49827', '2019-8-1', 'no', '21077', '2016-3-25', 'no', '70880', '2020-3-7', 'yes', '46937', '2016-6-24', 'yes', '15432', '2015-1-4', 'no', '63456', '2020-2-11', 'no', '37395', '2019-4-6', 'yes', '43411', '2018-2-1', 'no']

In [ ]:
#converting into list of tuples 
it = iter(new_list)
clean_lst = [i for i in zip(*[iter(new_list)]*3)]
print(clean_lst)

[('20364', '2016-6-11', 'no'), ('51945', '2015-4-10', 'yes'), ('88053', '2016-2-19', 'yes'), ('49743', '2020-4-12', 'yes'), ('49109', '2016-4-12', 'no'), ('36642', '2018-11-16', 'no'), ('21690', '2016-11-19', 'yes'), ('43779', '2020-6-9', 'yes'), ('42687', '2017-9-12', 'yes'), ('32923', '2020-4-25', 'no'), ('76363', '2016-1-23', 'no'), ('54779', '2016-6-24', 'no'), ('49827', '2019-8-1', 'no'), ('21077', '2016-3-25', 'no'), ('70880', '2020-3-7', 'yes'), ('46937', '2016-6-24', 'yes'), ('15432', '2015-1-4', 'no'), ('63456', '2020-2-11', 'no'), ('37395', '2019-4-6', 'yes'), ('43411', '2018-2-1', 'no')]

In [ ]:
#finding active members
act_mem = [item for item in clean_lst if 'yes' in item]
print(act_mem)
type(act_mem)

[('51945', '2015-4-10', 'yes'), ('88053', '2016-2-19', 'yes'), ('49743', '2020-4-12', 'yes'), ('21690', '2016-11-19', 'yes'), ('43779', '2020-6-9', 'yes'), ('42687', '2017-9-12', 'yes'), ('70880', '2020-3-7', 'yes'), ('46937', '2016-6-24', 'yes'), ('37395', '2019-4-6', 'yes')]

list

In [ ]:
#changing the tuples back into strings
active_file = [' '.join(item) for item in act_mem]
print(active_file)

['51945 2015-4-10 yes', '88053 2016-2-19 yes', '49743 2020-4-12 yes', '21690 2016-11-19 yes', '43779 2020-6-9 yes', '42687 2017-9-12 yes', '70880 2020-3-7 yes', '46937 2016-6-24 yes', '37395 2019-4-6 yes']

In [ ]:
#giving the title
active_file = ["Active Members List"] + active_file

#converting the list into string so that it can be appended to the file
listToStr = '\n'.join([str(elem) for elem in active_file])
print(listToStr)

Active Members List
51945 2015-4-10 yes
88053 2016-2-19 yes
49743 2020-4-12 yes
21690 2016-11-19 yes
43779 2020-6-9 yes
42687 2017-9-12 yes
70880 2020-3-7 yes
46937 2016-6-24 yes
37395 2019-4-6 yes

In [ ]:

with open('active_members_file_txt', 'w') as f:
  f.write(listToStr)

In [ ]:
non_act_mem = [item for item in clean_lst if 'no' in item]
print(non_act_mem)
type(non_act_mem)

[('20364', '2016-6-11', 'no'), ('49109', '2016-4-12', 'no'), ('36642', '2018-11-16', 'no'), ('32923', '2020-4-25', 'no'), ('76363', '2016-1-23', 'no'), ('54779', '2016-6-24', 'no'), ('49827', '2019-8-1', 'no'), ('21077', '2016-3-25', 'no'), ('15432', '2015-1-4', 'no'), ('63456', '2020-2-11', 'no'), ('43411', '2018-2-1', 'no')]

list

In [ ]:
non_active_file = [' '.join(item) for item in non_act_mem]
print(non_active_file)

['20364 2016-6-11 no', '49109 2016-4-12 no', '36642 2018-11-16 no', '32923 2020-4-25 no', '76363 2016-1-23 no', '54779 2016-6-24 no', '49827 2019-8-1 no', '21077 2016-3-25 no', '15432 2015-1-4 no', '63456 2020-2-11 no', '43411 2018-2-1 no']

In [ ]:
non_active_file = ["Non-Active Members List"] + non_active_file
list_to_str = '\n'.join([str(elem) for elem in non_active_file])
print(list_to_str)

Non-Active Members List
20364 2016-6-11 no
49109 2016-4-12 no
36642 2018-11-16 no
32923 2020-4-25 no
76363 2016-1-23 no
54779 2016-6-24 no
49827 2019-8-1 no
21077 2016-3-25 no
15432 2015-1-4 no
63456 2020-2-11 no
43411 2018-2-1 no

In [22]:
with open('non_active_members_file_txt', 'w') as f:
  f.write(list_to_str)